In [1]:
import pandas as pd
print("Pandas imported successfully, version: "+pd.__version__)
import scipy as sm
from scipy.stats import *
print("SciPy imported successfully, version: "+sm.__version__)
import plotly
print("Plotly imported successfully, version: "+plotly.__version__)
from plotly.graph_objs import * # for importing the different types of plots

from sklearn.decomposition import PCA #For performing principle component analysis

# The following are necessary to run plotly in an offline mode, because its otherwise an online plotting library
from plotly.graph_objs import Scatter, Layout
plotly.offline.init_notebook_mode(connected=True)

Pandas imported successfully, version: 0.23.4
SciPy imported successfully, version: 1.1.0
Plotly imported successfully, version: 3.4.0

In [14]:
#Importuoju savo rats duomenis
data_all = pd.read_csv("/home/emilija/Dokumentai/Magistras/SinBio/Sinbio-projektas/Žiurkių duomenys.csv")

In [17]:
#nope
new_data = data_all.RatPyV1.dropna(inplace=True)

In [20]:
#puiku, pasalina tik tas eiles, kuriose NA yra butent RatPyV1 arba RatPyV2 stulpeliuose 
new_data = data_all.dropna(subset=['RatPyV1', 'RatPyV2'])

In [22]:
new_data.describe(include='all')

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
count,84,84,84,84,80,83.000000,67.000000,67.000000,69.000000,66.000000,84,83,84,84
unique,84,2,11,37,2,NaN,NaN,NaN,NaN,NaN,3,8,2,2
top,R224,R.rattus,"Zarasų raj., Pakniškių km.",2017.09.07,vyr.,NaN,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
freq,1,57,48,10,42,NaN,NaN,NaN,NaN,NaN,37,41,74,79
mean,NaN,NaN,NaN,NaN,NaN,151.337349,169.820896,165.731343,35.391304,18.969697,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,115.247906,43.657040,31.582783,5.374825,3.113097,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,21.000000,88.000000,101.000000,23.000000,11.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,71.500000,138.500000,134.500000,32.000000,17.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,111.000000,168.000000,172.000000,35.000000,19.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,230.500000,203.500000,191.000000,40.000000,21.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,435.000000,249.000000,231.000000,47.000000,27.000000,NaN,NaN,NaN,NaN