In [2]:
import pandas as pd
print("Pandas imported successfully, version: "+pd.__version__)
import scipy as sm
from scipy.stats import *
print("SciPy imported successfully, version: "+sm.__version__)
import plotly
print("Plotly imported successfully, version: "+plotly.__version__)
from plotly.graph_objs import * # for importing the different types of plots

from sklearn.decomposition import PCA #For performing principle component analysis

# The following are necessary to run plotly in an offline mode, because its otherwise an online plotting library
from plotly.graph_objs import Scatter, Layout
plotly.offline.init_notebook_mode(connected=True)

Pandas imported successfully, version: 0.23.4
SciPy imported successfully, version: 1.1.0
Plotly imported successfully, version: 3.4.0

In [86]:
#Importuoju savo rats duomenis
data_all = pd.read_csv("/home/emilija/Dokumentai/Magistras/SinBio/Sinbio-projektas/Žiurkių duomenys.csv")

In [87]:
#Pasiziuriu, kas cia gero
data_all
#Atrodo viskas ok

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
0,R121,R.norvegicus,"Joniškio raj., Veršių km.",2013.09.21,vyr.,162.0,187.0,152.0,38.0,15.0,ad.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
1,R122,R.norvegicus,"Joniškio raj., Šarūnų km.",2013.09.27,vyr.,184.0,202.0,156.0,39.0,17.0,ad.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
2,R123,R.norvegicus,"Panevėžio raj., Krekenava",2014.06.10,vyr.,248.0,233.0,171.0,39.0,17.0,ad.,Stumbrynas,NaN,NaN
3,R124,R.norvegicus,"Gedimino pr., Vilnius",2014.10.20,mot.,38.0,120.0,90.0,28.0,14.0,juv.,NaN,NaN,NaN
4,R125,R.norvegicus,"Joniškio raj., Šarūnų km.",2015.02.15.,vyr.,139.0,185.0,153.0,38.0,15.5,sub.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
5,R126,R.norvegicus,"Joniškio raj., Šarūnų km.",2015.02.15.,vyr.,148.0,187.0,170.0,36.0,16.5,sub.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
6,R127,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.13,mot.,69.0,144.0,162.0,35.0,22.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
7,R128,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.13,mot.,92.0,155.0,182.0,36.0,21.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
8,R129,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.13,vyr.,50.0,115.0,148.0,32.0,19.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
9,R130,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.13,vyr.,101.0,155.0,183.0,36.0,23.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
10,R131,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.13,vyr.,103.0,142.0,185.0,37.0,22.0,ad.,"Tvartas, laikomos vištos",NaN,NaN
11,R132,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,73.0,130.0,158.0,33.0,18.0,sub.,"Tvartas, laikomos vištos",Ne,Ne
12,R133,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,35.0,105.0,127.0,28.0,15.0,juv.,"Tvartas, laikomos vištos",Ne,Ne
13,R134,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.27,mot.,86.0,150.0,175.0,33.0,21.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
14,R135,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.27,vyr.,56.0,137.0,154.0,31.0,19.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
15,R136,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.27,vyr.,34.0,114.0,123.0,30.0,18.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
16,R137,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.27,mot.,43.0,118.0,128.0,30.0,21.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
17,R138,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,86.0,146.0,179.0,36.0,20.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
18,R139,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,95.0,155.0,178.0,33.0,22.0,sub.,"Tvartas, laikomos vištos",NaN,NaN
19,R140,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,33.0,110.0,127.0,27.0,18.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
20,R141,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,vyr.,42.0,122.0,125.0,30.0,18.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
21,R142,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,171.0,192.0,210.0,37.0,22.0,ad.,"Tvartas, laikomos vištos",NaN,NaN
22,R143,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,41.0,125.0,135.0,29.0,19.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
23,R144,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,47.0,125.0,153.0,32.0,18.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
24,R145,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,vyr.,40.0,118.0,146.0,31.0,20.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
25,R146,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,51.0,115.0,148.0,32.0,18.0,juv.,"Tvartas, laikomos vištos",NaN,NaN
26,R147,R.rattus (ruda forma),"Zarasų raj., Antazavės gyv.",2015.09.28,mot.,167.0,175.0,225.0,36.0,26.0,ad.,"Tvartas, laikomos karvės",NaN,NaN
27,R148,R.rattus (ruda forma),"Zarasų raj., Antazavės gyv.",2015.09.28,mot.,119.0,159.0,196.0,32.0,23.0,ad.,"Tvartas, laikomos karvės",NaN,NaN
28,R149,R.rattus (ruda forma),"Zarasų raj., Antazavės gyv.",2015.10.05,mot.,90.0,146.0,149.0,33.0,19.0,sub.,"Tvartas, laikomos karvės",NaN,NaN
29,R150,R.rattus (ruda forma),"Zarasų raj., Antazavės gyv.",2015.10.05,vyr.,69.0,144.0,162.0,32.0,21.0,sub.,"Tvartas, laikomos karvės",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,R208,R.rattus,"Zarasų raj., Pakniškių km.",2016.11.02,vyr.,230.0,202.0,201.0,37.0,27.0,ad.,"Tvartas, laikomos vištos",Ne,Ne
88,R209,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,vyr.,154.0,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
89,R210,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,mot.,82.0,NaN,NaN,NaN,NaN,sub.,"Tvartas, laikomos vištos",Ne,Ne
90,R211,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,92.0,NaN,NaN,NaN,NaN,sub.,"Tvartas, laikomos vištos",Ne,Ne
91,R212,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,42.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
92,R213,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,177.0,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
93,R214,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,75.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
94,R215,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,48.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
95,R216,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,mot.,41.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
96,R217,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,138.0,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
97,R218,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,77.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
98,R219,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,vyr.,136.0,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
99,R220,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,mot.,83.0,NaN,NaN,NaN,NaN,sub.,"Tvartas, laikomos vištos",Ne,Ne
100,R221,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.25,mot.,33.0,NaN,NaN,NaN,NaN,juv.,"Tvartas, laikomos vištos",Ne,Ne
101,R222,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,137.0,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
102,R223,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,122.0,NaN,NaN,NaN,NaN,sub.,"Tvartas, laikomos vištos",Ne,Ne
103,R224,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,369.0,230.0,199.0,45.0,18.0,ad.,Paukštynas,Ne,Ne
104,R225,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,231.0,186.0,174.0,40.0,20.0,ad.,Paukštynas,Ne,Ne
105,R226,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,384.0,245.0,200.0,47.0,20.0,ad.,Paukštynas,Taip,Ne
106,R227,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,286.0,209.0,NaN,40.0,NaN,ad.,Paukštynas,Ne,Taip
107,R228,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,336.0,240.0,160.0,42.0,21.0,ad.,Paukštynas,Ne,Ne
108,R229,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,305.0,225.0,190.0,45.0,18.0,ad.,Paukštynas,Ne,Ne
109,R230,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,252.0,200.0,170.0,40.0,20.0,ad.,Paukštynas,Taip,Ne
110,R231,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,80.0,150.0,115.0,35.0,17.0,sub.,Paukštynas,Ne,Ne
111,R232,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,102.0,167.0,125.0,32.0,11.0,sub.,Paukštynas,Ne,Ne
112,R233,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,73.0,145.0,120.0,35.0,18.0,juv.,Paukštynas,Ne,Ne
113,R234,R.rattus,"Zarasų raj., Antazavės gyv.",2017.09.20,mot.,104.0,165.0,160.0,32.0,20.0,sub.,"Tvartas, laikomos karvės",Ne,Ne
114,R235,R.rattus,"Zarasų raj., Dusetų gyv.",2017.09.28,mot.,130.0,170.0,176.0,35.0,19.0,sub.,"Ūkinis pastatas, gyvūnų nelaikoma",Ne,Ne
115,R236,R.rattus,"Zarasų raj., Pakniškių km.",2017.09.30,mot.,137.0,170.0,195.0,36.0,25.0,sub.,"Tvartas, laikomos vištos",Ne,Ne
116,R237,R.rattus,"Zarasų raj., Pakniškių km.",2017.10.01,vyr.,47.0,130.0,135.0,32.0,21.0,juv.,"Tvartas, laikomos vištos",Ne,Ne

In [88]:
data_all.describe()

            Q(g.)       L(mm)     Luo(mm)       P(mm)      A(mm)
count  116.000000   99.000000   99.000000  101.000000  98.000000
mean   133.051724  162.505051  163.242424   34.613861  19.071429
std    105.803661   41.482323   31.405216    5.083248   3.064597
min     10.000000   88.000000   90.000000   23.000000  11.000000
25%     50.750000  128.000000  135.000000   31.000000  17.000000
50%    101.500000  161.000000  166.000000   35.000000  19.000000
75%    168.000000  189.500000  186.500000   38.000000  21.000000
max    435.000000  249.000000  231.000000   47.000000  27.000000

In [89]:
data_all.describe(include='all')

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
count,117,117,117,117,112,116.000000,99.000000,99.000000,101.000000,98.000000,117,115,84,84
unique,117,3,14,45,2,NaN,NaN,NaN,NaN,NaN,3,9,2,2
top,R187,R.rattus,"Zarasų raj., Pakniškių km.",2015.09.28,mot.,NaN,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
freq,1,78,68,11,57,NaN,NaN,NaN,NaN,NaN,45,61,75,79
mean,NaN,NaN,NaN,NaN,NaN,133.051724,162.505051,163.242424,34.613861,19.071429,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,105.803661,41.482323,31.405216,5.083248,3.064597,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,88.000000,90.000000,23.000000,11.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,50.750000,128.000000,135.000000,31.000000,17.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,101.500000,161.000000,166.000000,35.000000,19.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,168.000000,189.500000,186.500000,38.000000,21.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,435.000000,249.000000,231.000000,47.000000,27.000000,NaN,NaN,NaN,NaN

In [90]:
data_all.Rūšis.describe()

count          117
unique           3
top       R.rattus
freq            78
Name: Rūšis, dtype: object

In [91]:
data_all.Vieta.describe()

count                            117
unique                            14
top       Zarasų raj., Pakniškių km.
freq                              68
Name: Vieta, dtype: object

In [92]:
data_all.Lytis.describe()

count      112
unique       2
top       mot.
freq        57
Name: Lytis, dtype: object

In [93]:
data_all.Amžius.describe()

count     117
unique      3
top       ad.
freq       45
Name: Amžius, dtype: object

In [94]:
data_all.iloc[:,3].describe()

count            117
unique            45
top       2015.09.28
freq              11
Name: Pagavimo_data, dtype: object

In [95]:
data_all.Pastabos.describe()

count                          115
unique                           9
top       Tvartas, laikomos vištos
freq                            61
Name: Pastabos, dtype: object

In [96]:
data_all.RatPyV1.describe()

count     84
unique     2
top       Ne
freq      75
Name: RatPyV1, dtype: object

In [97]:
data_all.RatPyV2.describe()

count     84
unique     2
top       Ne
freq      79
Name: RatPyV2, dtype: object

In [98]:
data_all.Pagavimo_data.min()

'2013.09.21'

In [99]:
data_all.Pagavimo_data.max()

'2017.10.01'

In [100]:
data_all.head()

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
0,R121,R.norvegicus,"Joniškio raj., Veršių km.",2013.09.21,vyr.,162.0,187.0,152.0,38.0,15.0,ad.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
1,R122,R.norvegicus,"Joniškio raj., Šarūnų km.",2013.09.27,vyr.,184.0,202.0,156.0,39.0,17.0,ad.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN
2,R123,R.norvegicus,"Panevėžio raj., Krekenava",2014.06.10,vyr.,248.0,233.0,171.0,39.0,17.0,ad.,Stumbrynas,NaN,NaN
3,R124,R.norvegicus,"Gedimino pr., Vilnius",2014.10.20,mot.,38.0,120.0,90.0,28.0,14.0,juv.,NaN,NaN,NaN
4,R125,R.norvegicus,"Joniškio raj., Šarūnų km.",2015.02.15.,vyr.,139.0,185.0,153.0,38.0,15.5,sub.,"Tvartas, laikomos karvės, kiaulės",NaN,NaN

In [101]:
data_all.Nr.min()

'R121'

In [102]:
data_all.Nr.max()

'R237'

In [103]:
data_all.Nr.count()

117

In [104]:
data_all.Rūšis.unique()

array(['R.norvegicus', 'R.rattus', 'R.rattus (ruda forma)'], dtype=object)

In [105]:
data_all.Vieta.unique()

array(['Joniškio raj., Veršių km.', 'Joniškio raj., Šarūnų km.',
       'Panevėžio raj., Krekenava', 'Gedimino pr., Vilnius',
       'Zarasų raj., Pakniškių km.', 'Zarasų raj., Antazavės gyv.',
       'Zarasų raj., Dusetų gyv.', 'Utenos raj., Vilučių km.',
       'Vilniaus raj.', 'Grubupių km., Šilutės raj. ',
       'Vilnius, senamiestis', 'Vilnius, Gedimino pr.',
       'Rokiškio raj., Kovelių km.', 'Rokiškio raj., Laibgalių km.'],
      dtype=object)

In [106]:
data_all.Vieta.describe()

count                            117
unique                            14
top       Zarasų raj., Pakniškių km.
freq                              68
Name: Vieta, dtype: object

In [107]:
data_all.Pagavimo_data.describe()

count            117
unique            45
top       2015.09.28
freq              11
Name: Pagavimo_data, dtype: object

In [111]:
data_all.Vieta.isna().sum()

0

In [112]:
data_all.Lytis.isna().sum()

5

In [113]:
data_all.Amžius.unique()

array(['ad.', 'juv.', 'sub.'], dtype=object)

In [121]:
data_all.Amžius.value_counts()

ad.     45
juv.    43
sub.    29
Name: Amžius, dtype: int64

In [122]:
data_all.Amžius.isna().sum()

0

In [123]:
data_all.Rūšis.value_counts()

R.rattus                 78
R.norvegicus             33
R.rattus (ruda forma)     6
Name: Rūšis, dtype: int64

In [124]:
data_all.Vieta.value_counts()

Zarasų raj., Pakniškių km.      68
Zarasų raj., Antazavės gyv.     13
Rokiškio raj., Laibgalių km.    10
Grubupių km., Šilutės raj.       6
Joniškio raj., Šarūnų km.        6
Vilniaus raj.                    4
Zarasų raj., Dusetų gyv.         2
Rokiškio raj., Kovelių km.       2
Vilnius, Gedimino pr.            1
Joniškio raj., Veršių km.        1
Gedimino pr., Vilnius            1
Vilnius, senamiestis             1
Panevėžio raj., Krekenava        1
Utenos raj., Vilučių km.         1
Name: Vieta, dtype: int64

In [147]:
data_all.Pagavimo_data.value_counts()

2015.09.28          11
2017.09.07          10
2015.10.05           7
2016.08.31           6
2014.01.03           6
2016.09.27           5
2015.08.13           5
2015.08.27           4
2016.01.09           4
2015.10.13           4
2015.10.14           3
2017.03.04-07        3
2017.03.31           3
2015.10.02           3
2014.11.05           2
2016.04.01           2
2015.02.15.          2
2017.07.08           2
2015.10.03           2
2016.01.10           2
2017.02.20           2
2016.09.15           2
2015.10.12           2
2017.04.05-07        2
2015.08.26           2
2017.05.01           2
2017.09.30           1
2013.09.27           1
2017.10.01           1
2015.03              1
2014.10.20           1
2016.11.02           1
2017.02.25           1
2015.02.17           1
2016.02.05           1
2015.02.16           1
2017.09.28           1
2014.06.10           1
2014.09.29-10.22     1
2014.11.17           1
2014.11.06           1
2015.02.15           1
2014.09.29-10.21     1
2017.09.20           1
2013.09.21           1
Name: Pagavimo_data, dtype: int64

In [148]:
data_all.Lytis.value_counts()

mot.    57
vyr.    55
Name: Lytis, dtype: int64

In [149]:
data_all.Amžius.value_counts()

ad.     45
juv.    43
sub.    29
Name: Amžius, dtype: int64

In [150]:
data_all.Pastabos.value_counts()

Tvartas, laikomos vištos             61
Tvartas, laikomos karvės             15
Paukštynas                           12
Tvartas, laikomos karvės, kiaulės     7
Gyvenamasis namas                     7
Kiaulių auginimo kompleksas           6
Tvartas, laikomos kiaulės             4
Ūkinis pastatas, gyvūnų nelaikoma     2
Stumbrynas                            1
Name: Pastabos, dtype: int64

In [151]:
data_all.Pastabos.isna().sum()

2

In [152]:
data_all.RatPyV1.isna().sum()

33

In [153]:
data_all.RatPyV1.value_counts()

Ne      75
Taip     9
Name: RatPyV1, dtype: int64

In [154]:
data_all.RatPyV2.value_counts()

Ne      79
Taip     5
Name: RatPyV2, dtype: int64

In [155]:
data_all.RatPyV2.isna().sum()

33

In [156]:
data_all.Pastabos.unique()

array(['Tvartas, laikomos karvės, kiaulės', 'Stumbrynas', nan,
       'Tvartas, laikomos vištos', 'Tvartas, laikomos karvės',
       'Ūkinis pastatas, gyvūnų nelaikoma', 'Gyvenamasis namas',
       'Tvartas, laikomos kiaulės', 'Kiaulių auginimo kompleksas',
       'Paukštynas'], dtype=object)